// 
// Global
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding

html {
    height: 100%;
    scroll-padding-top: calc(#{$navbar-height} - 1px);
}

body {
    width: 100%;
    height: 100%;
}

//- Page section styling
.page-section {
    padding: 8rem 0;
}

// Custom utilities for this theme
.txt4 {
    color: fade-out($white, 0.25) !important;
    margin-bottom : 1.5rem !important;
}
.txt5 {
    color: fade-out($white, 0.25) !important;
    margin-bottom : 3rem !important;
}
// navbar to the left for icon
.navcont {
    margin-left:0;
    padding-left:0;
    width:100%;
}


:root {
    --small-width-big: 100%;
    --big-width-big:83.333333333%;
    --cont-width-big:16.6666666667%
}


.cont {
    display:flex;
    flex-direction:column;
    width:33.3333333333%;
}
@media(min-width:768px) {
    .cont {
        flex-direction:row;
        width:var(--cont-width-big);
    }
}

.smallcol {
    width:100%;
    flex: 0 0 auto;
}
@media(min-width: 768px) {
    .smallcol  {
        width:var(--small-width-big);
    }
}

.bigcol {
    flex: 0 0 auto;
    width: 66.66666667%;
}
@media(min-width:768px) {
    .bigcol {
        width: var(--big-width-big);
    }
}